.button-group {  
  $base-border-color: gainsboro !default;
  $base-border-radius: 3px !default;
  $base-line-height: 1.5em !default;
  $base-spacing: 1.5em !default;
  $base-font-size: 1em !default;
  $base-background-color: white !default;
  $action-color: #477DCA !default;
  $base-link-color: $action-color !default;
  $dark-gray: #333 !default;
  $large-screen: em(860) !default;
  $base-font-color: $dark-gray !default;
  $button-group-background: $base-background-color;
  $button-group-color: lighten($base-font-color, 30%);
  $button-group-border: 1px solid silver;
  $button-group-inner-border: 1px solid lighten(silver, 18%);
  $button-group-background-checked: $action-color;
  $button-group-color-checked: white;
  $button-group-border-checked: darken($button-group-background-checked, 15%);

  display: inline-block;

  input {
    display: none;
  }

  label {
    margin-bottom: 0;

    @include media($large-screen) {
      float: left;
    }

    .button-group-item {
        display:block;
        text-decoration:none;
        padding:15px;
        background:rgba($gray-light,.25);
        color:$gray-light;
        font-family: 'Titillium Web', sans-serif;
        font-size:22px;
        float:left;
        text-align:center;
        cursor:pointer;
        transition:.5s ease;

        &:hover {
            background:$main-dark;
            color:$white;
        }
   
    }

    input:checked + .button-group-item {
      background: $main;
      color: $white;
    }
  }
}

#form-wrapper {
    font-family: 'Titillium Web', sans-serif !important;
    margin-top: 2%;

    fieldset {
        background: rgba($form-bg, 0.9);
    }

    #video-form {
        #category-select, #submit {
            margin-top: 20px; 
        }   

        #submit {
            font-family: 'Titillium Web', sans-serif;
            font-size: 22px;
            background: $main;

            &:hover {
                background: lighten($main, 10%); 
            }
        }
    }
}

