doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/application.css')
    script(src='/javascripts/jquery.min.js')
    script(src='/javascripts/selectivity.min.js')
    script(src='/javascripts/main.js')

    meta(name='hubtraffic-domain-validation', content='2dd49b4c7d3bf292')
  body
    block content
